@import '../../../../styles/colors.scss';

.login-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 430px;
    width: 100%;

    .form__item {
        width: 100%;
        position: relative;

        label {
            display: block;
            font-weight: 500;
            font-size: 14px;
            line-height: 19px;
            color: $text-2;

            &.error {
                font-weight: 500;
                font-size: 14px;
                line-height: 19px;
            }
        }

        input {
            width: 100%;
            font-weight: 600;
            font-size: 14px;
            line-height: 19px;
            color: $main-grey;
            padding: 18.5px 18px;
            background-color: $input;
            border-radius: 5px;
            border: none;
            margin: 5px 0;
            outline-color: $main-blue;

            &.error {
                border: 1px solid $add-red;

                &::placeholder {
                    color: $add-red;
                }
            }
        }

        .custom-checkbox {
            position: absolute;
            z-index: -1;
            opacity: 0;

            &+label{
                padding-left: 34px;
            }

            &+label::before {
                content: '';
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                width: 16px;
                height: 16px;
                background-color: transparent;
                border: 2px solid $text-1;
                margin-top: 2px;
                margin-left: 4px;
                border-radius: 2px;
            }

            &:checked+label::before{
                background-image: url(../../../../assets/subtract.svg);
                background-position: center;
                border: none;

            }
        }
        


        .error {
            font-weight: 500;
            font-size: 12px;
            line-height: 16px;
            color: $add-red;
        }


    }

    .primary-button {
        width: 100%;
        border-radius: 5px;
    }


}