$main-blue: #009CB4;
$main-green: #95AE3C;
$main-dark-green: #487538;
$main-grey: #4D4D4F;
$main-black: #231F20;
$main-white: #FFFFFF;
$add-light-green: #D2D832;
$add-orange: #FAB42A;
$add-red: #E0371F;
$add-grey: #C6C6C6;
$text-1: #676A71;
$text-2: #A8AAAE;
$search: #F9F9FB;
$input: #F6F6F9;
$line: #EDEDF4;
$background: #FBFBFB;
$hover: #01B8D5;
