@import '../../../../../styles/colors.scss';


.table-documents {

    &.table> :not(:first-child) {
        border-top: none;
        padding: 0;
    }

    &.table {
        border-top: 1px solid $line;
        margin-bottom: 40px;
    }

    .th {
        font-weight: 500;
        color: $main-blue;
        padding: 20px 40px;
        vertical-align: middle;
        position: relative;
    }

    .th:first-child,
    .td:first-child {
        padding-left: 0;
        padding-right: 74px;
    }

    .th:last-child,
    .td:last-child {
        padding-left: 74px;
        padding-right: 0;
        cursor: pointer;
        color: $main-blue;
    }

    .td {
        padding: 20px 40px;
        vertical-align: middle;
        position: relative;

        a {
            color: $main-blue;
        }
    }


    .sort__icon {
        width: 24px;
        height: 24px;
        transform: translate(40px, -50%);
        position: absolute;
        left: 0;
        top: 50%;
        cursor: pointer;
        fill: $main-blue;
    }
}